:root {
    --mutegreen: rgb(113, 89, 166);
    --fadedgreen: rgb(139, 128, 150);
    --forest: rgba(0, 64, 14, 0.554);
    --graybg: rgb(58, 58, 58);
}

header {
    background-color: rgba(58, 58, 58, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.headline {
    display: inline-block;
    height: 6rem;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 90px;
    border-bottom-right-radius: 6rem;
    background-color: rgba(0, 0, 0, 0.501);
}

h1 {
    font-size: 2.6rem;
    background: linear-gradient(to right,#850bdc, #dcab0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1rem;
}

.subtitle {
    text-align: right;
}

nav {
    display: flex;
    padding-top: 40px;
    padding-right: 50px;
    float: right;
    font-size: 20px;
}

.navbtn {
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
}

.navbtn:hover {
    /* background-color: rgba(128, 128, 128, 0.499); */
    border-radius: 10px;
    color: var(--fadedgreen);
}

.navbtn:active {
    color: var(--fadedgreen);
}

.nav-selected {
    color: var(--mutegreen);
}

h2 {
    color: rgba(255, 255, 255, 0.85);
}

.main {
    padding-top: 175px;
    padding-bottom: 75px;
}

.firstsection {
    display: flex;
    margin-top: 20px;
}

.bio {
    margin: auto;
    background-color: var(--forest);
    width: 85%;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px;
}

.bio img {
    max-width: 65%;
    max-height: 280px;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.bio h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

.bio p {
    line-height: 1.5;
}

.bodyheader {
    text-align: center;
    font-size: 40px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
}

.boxes a {
    text-decoration: none;
}

.boxitem {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    border: 1px dotted rgba(113, 89, 166, 0.8);
    border-radius: 50%;
    margin: 10px;
    height: 300px;
    background-size: cover;
    overflow: hidden;
}

.boxitem p, h3 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.85);
}

.boxitem:hover {
    border: 3px solid var(--mutegreen);
    margin: 8px;
}

.boxitem:active {
    border: 5px solid var(--fadedgreen);
    margin: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.left-half,
.right-half {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50%;
}

.left-half:hover, .right-half:hover {
    background-color: var(--mutegreen);
    opacity: 0.8;
}

.left-half:hover .hoverlinks, .right-half:hover .hoverlinks {
    opacity: 1;
}

.left-half:active, .right-half:active {
    background-color: var(--fadedgreen);
}

.left-half:active .hoverlinks, .right-half:active .hoverlinks {
    color: white;
}

.right-half {
  transform: rotate(180deg);
  left: 50%;
}

.hoverlinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    pointer-events: none;
    opacity: 0;
}

.right-half .hoverlinks {
    transform: rotate(180deg);
    top: 46%;
    left: 18%;
}

#feature {
    max-width: 80%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-image: url("./feature-img/sample.png");
    background-size: cover;
    border-radius: 160px;
}

#feature .overlay {
    border-radius: 155px;
}

#feature .left-half, #feature .right-half {
    border-radius: 80px 0 0 80px;
}

#feature .right-half .hoverlinks {
    left: 45%;
}

#feature:hover {
    margin-bottom: 18px;
}

#feature:active {
    margin-bottom: 16px;
}

.icon {
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 100px;
    opacity: 0.7;
}

#resumeicon {
    position: relative;
    filter: invert(1);
    background-color: grey;
}

#resumeicon:hover {
    filter: invert(0);
    background-color: white;
}

#resumeicon:active {
    background-color: var(--mutegreen);
}

.contacts a {
    color: white;
    background-color: rgba(58, 58, 58, 0.5);
    text-decoration: none;
    font-size: x-large;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.contacts a:hover {
    border: 3px solid var(--fadedgreen);
    margin: 4px;
}

.contacts a:active {
    background-color: var(--mutegreen);
}

.resume {
    text-align: center;
    margin-bottom: 50px;
}

.resume a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.resume p {
    font-size: small;
    text-align: center;
    padding-top: 5px;
}

.summary {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    padding-top: 20px;
}

.subhead {
    text-align: center;
    background-color: transparent;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.contact-form input, textarea {
    color: black;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 817px) {
    nav {
        flex-direction: column;
        float: none;
        padding-top: 10px;
    }
    .navbtn {
        font-size: 1rem;
    }
    .main {
        padding-top: 210px;
    }
}

@media screen and (max-width: 518px) {
    .bio img {
        margin-bottom: 20px;
        float: none;
    }
    .bio {
        text-align: center;
    }
}

@media screen and (max-width: 418px) {
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    .headline {
        height: 5rem;
        padding-top: 11px;
    }
}

@media screen and (max-width: 394px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 370px) {
    h1 {
        font-size: 2.1rem;
    }
}