:root {
    --mutegreen: rgb(88, 122, 88);
    --forest: rgb(0, 64, 14);
    --graybg: rgb(58, 58, 58);
}

.main {
    padding-top: 175px;
    padding-bottom: 75px;
}

.firstsection {
    display: flex;
}

.bio {
    margin: auto;
    background-color: var(--forest);
    width: 85%;
    min-height: 300px;
    border: 20px solid var(--forest);
    border-radius: 40px;
}

.bio img {
    display: flex;
    max-width: 65%;
    max-height: 300px;
    float: left;
    margin-right: 15px;
    border-radius: inherit;
}

.bio h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

.bio p {
    line-height: 1.5;
}

.bodyheader {
    text-align: center;
    font-size: 40px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
}

.boxes a {
    text-decoration: none;
}

.boxitem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    border: 1px dotted white;
    border-radius: 160px;
    margin: 10px;
    height: 300px;
    background-size: cover;
}

.boxitem p, h3 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3px;
    border-radius: 5px;
}

.boxitem:hover {
    border: 3px solid white;
    margin: 8px;
}

.boxitem:active {
    border: 5px solid var(--mutegreen);
    margin: 6px;
}

#feature {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-image: url("./feature-img/sample.png");
    background-size: cover;
}

#feature:hover {
    margin-bottom: 18px;
}

#feature:active {
    margin-bottom: 16px;
}

.icon {
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 100px;
}

#resumeicon {
    position: relative;
    filter: invert(1);
    background-color: grey;
    /* z-index: -1; */
}

#resumeicon:hover {
    filter: invert(0);
    background-color: white;
}

#resumeicon:active {
    background-color: var(--mutegreen);
}

.contacts a {
    color: white;
    background-color: rgba(58, 58, 58, 0.5);
    text-decoration: none;
    font-size: x-large;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.contacts a:hover {
    border: 3px solid white;
    margin: 4px;
}

.contacts a:active {
    background-color: var(--mutegreen);
}

.resume {
    text-align: center;
}

.resume a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.resume p {
    font-size: small;
    text-align: center;
    padding-top: 5px;
}

.summary {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    padding-top: 20px;
}

.subhead {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.contact-form input, textarea {
    color: black;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 772px) {
    .main {
        padding-top: 300px;
    }
}