.navbtn {
    padding: 10px;
    margin-top: -10px;
    text-decoration: none;
    cursor: pointer;
}

.navbtn:hover {
    text-decoration: underline;
}

.navbtn:active {
    color: rgb(88, 122, 88);
}