* {
    font-family: 'Libre Franklin', Arial, sans-serif;
    color: rgb(220, 220, 220);
    margin: 0px;
}

html {
    height: 100vh;
}

body, html {
    background: linear-gradient(#095384, #4e0883);
    min-height: 100vh;
};