* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(220, 220, 220);
    margin: 0px;
}

html {
    height: 100%;
}

body {
    background-color: black;
    min-height: 100%;
};